.parent-continer{
display: grid;
grid-template-columns:24% 28% 8% 21% 14%;
grid-template-rows: auto;
width: 47%;
height: 60px;
background-color:rgb(60, 62, 77);;
border-radius: 8px;
margin-left:10px ;
margin-top:10px;
}

.cover-img{
    width: 63px;
    height: 88px;
    margin: 0px 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 7px;
}

.cover-img img{
    width: 100%;
    height: auto;
}

.epsoide-name{
    color: white;
    font-weight: 700;
    display: grid;
    grid-template-rows: 22% 29%;
    grid-template-columns: auto;
    margin-top: 10px;

   
}

.chanel-name{
    color: #ef6a6b;
    margin-top: 3px;
}

.Heart-Card{
    width: 22px;
    height: 22px;
    
    margin-top: 18px;
    margin-left: 44px;
}
.Heart-Card .Heart{
color: white;
}


.Heart-Card .RedHeart{
    color: #fd2d47;

}

.duration{
    color: gray;
    margin-top: 18px;
    font-size: smaller;
}