.Home-parent{
    display: grid;
    grid-template-columns: 217%;
    grid-template-rows: 9% 35% auto;
    overflow: hidden;
    min-width: 376px;
}
.Home-header{
    display: grid;
    grid-template-columns: 31% auto;
    grid-template-rows: 100%;
    align-items: center;
    padding-top: 45px;
    padding-left: 20px;

}
.Trending-Prodcasts{
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left:20px ;
   
}

@media (min-width: 700px) {
    .Home-parent{
        display: grid;
        grid-template-columns: 30% 80%;
        grid-template-rows: 9% 35% auto;
        overflow: hidden;
        min-width: 376px;
    }
    
    
}