.sidebar-mobile{
background-color: #2c3856;
width: 100%;
height: 100%;
display: flex;
margin-top: 10px;

}

.item{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
   width: 10%;
    text-decoration: none;
}
.active{
   color: yellow;
}
.icon{
  
}
@media (min-width: 700px) {
   
    .sidebar-mobile {
        display: none;
       
    }
    
}
