.Search{
   display: grid;
   grid-template-columns: 35px auto;
   grid-row: 1; 
   
}

.icon-search{
    color: white;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px 10px;
    background: rgb(60, 62, 77);
    border-width: 0px;
}

.Search-input{
    background: rgb(60, 62, 77);
    color: white;
    height: 40px;
    width: 203px;
    max-width: 325px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: Poppins, sans-serif;
    padding: 0px;
    border-width: 0px;
    
    

}

